<div class="ui raised segment">
  <h2 class="ui header">Angular Reactive Form</h2>
  <form
    class="ui form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="!passValidation; else inputDisplay"
  >
    <div class="field">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        placeholder="Username"
        name="username"
        formControlName="username"
        required
      />
      <div
        *ngIf="username.invalid && (username.dirty || username.touched)"
        class="error"
      >
        <p *ngIf="username.hasError('required')">Username is required.</p>
        <p *ngIf="username.hasError('minlength')">
          Username must be at least 3 characters long.
        </p>
      </div>
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        placeholder="Email"
        name="email"
        formControlName="email"
        required
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="error"
      >
        <p *ngIf="email.hasError('required')">Email is required.</p>
        <p *ngIf="email.hasError('email')">Email must be valid.</p>
      </div>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Password"
        name="password"
        formControlName="password"
        required
      />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="error"
      >
        <p *ngIf="password.hasError('required')">Password is required.</p>
        <p *ngIf="password.hasError('minlength')">
          Password must be at least 6 characters.
        </p>
      </div>
    </div>
    <div class="field">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        placeholder="Confirm Password"
        name="confirmPassword"
        formControlName="confirmPassword"
        required
      />
      <div
        *ngIf="
          form.hasError('passwordsMismatch') &&
          (confirmPassword.dirty || confirmPassword.touched)
        "
        class="error"
      >
        <p *ngIf="confirmPassword.hasError('required')">
          Password confirmation is required.
        </p>
        <p *ngIf="form.hasError('passwordsMismatch')">
          Must be the same as the password you entered above.
        </p>
      </div>
    </div>
    <div class="field">
      <label for="age">Age</label>
      <input
        type="number"
        id="age"
        placeholder="Age"
        name="age"
        formControlName="age"
        required
      />
      <div *ngIf="age.invalid && (age.dirty || age.touched)" class="error">
        <p *ngIf="age.hasError('notUpToAge')">
          Age must be greater than or equal to 18.
        </p>
        <p *ngIf="age.hasError('required')">Age is required.</p>
      </div>
    </div>
    <div class="field">
      <label for="gender">Gender</label>
      <select name="gender" id="gender" formControlName="gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="others">Others</option>
      </select>
      <div
        *ngIf="gender.invalid && (gender.dirty || gender.touched)"
        class="error"
      >
        <p *ngIf="gender.hasError('required')">Gender is required.</p>
      </div>
    </div>
    <div class="field">
      <label for="">Interest</label>
      <div class="radios">
        <input
          type="radio"
          name="interest"
          value="angular"
          formControlName="interest"
        />
        <label for="interest_angular">Angular</label><br />
        <input
          type="radio"
          name="interest"
          value="react"
          formControlName="interest"
        />
        <label for="interest_react">React</label><br />
        <input
          type="radio"
          name="interest"
          value="vue"
          formControlName="interest"
        />
        <label for="interest_vue">Vue</label><br />
      </div>
      <div
        *ngIf="interest.invalid && (interest.dirty || interest.touched)"
        class="error"
      >
        <p *ngIf="interest.hasError('required')">Interest is required.</p>
      </div>
    </div>

    <button type="submit" class="ui button">Submit</button>
  </form>

  <ng-template #inputDisplay>
    <p>Username : {{ username.value }}</p>
    <p>Email : {{ email.value }}</p>
    <p>Age : {{ age.value }}</p>
    <p>Gender : {{ gender.value }}</p>
    <p>Interest : {{ interest.value }}</p>
  </ng-template>
</div>
